div#svg-grid-background,
div.responsive-identifier {
  display: none;
}

body.show-responsive-identifier {
  div.responsive-identifier {
    bottom: 0;
    display: block;
    font-weight: bold;
    left: 0;
    padding: 4px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;
  }
}

div.wrapper {
  margin: 0 auto;
  position: relative;

  .content.column,
  .sidebar.first,
  .sidebar.second {
    margin-bottom: 10px;
  }
}

// Layout with two sidebars and the main column in the middle
body.columns-middle {
  .content.column {
    float: right;
  }

  .sidebar {
    &.first {
      float: left;
    }

    &.second {
      float: right;
    }
  }

  &.one-sidebar.sidebar-second {
    .content.column {
      float: left;
    }

    .sidebar.second {
      float: left;
    }
  }

  @media #{$mobile} {
    &.layout-fluid,
    &.layout-adaptive {
      .content.column,
      .sidebar.second {
        float: none;
      }
    }
  }
}

// Layout with two sidebars and the main column on the right
body.columns-left {
  .content.column {
    float: right;
  }

  .sidebar.first,
  .sidebar.second {
    float: left;
  }

  @media #{$s} {
    &.layout-fluid,
    &.layout-adaptive {
      .content.column,
      .sidebar.first,
      .sidebar.second {
        float: none;
      }
    }
  }
}

// Layout with two sidebars and the main column on the left
body.columns-right {
  .content.column {
    float: left;
  }

  .sidebar {
    &.first {
      float: left;
    }

    &.second {
      float: right;
    }
  }
}

nav,
header,
footer {
  clear: both;
  margin: 0 auto;
}

#breadcrumbs {
  ol {
    @include inline-list;

    li {
      &:before {
        content: attr(data-icon);
        margin-left: 5px;
      }

      &:first-child:before {
        display: none;
      }
    }
  }
}
