.color-form {
  position: relative;

  .color-placeholder {
    float: none;
    position: absolute;
    right: 0;
    top: 110px;
  }

  .form-item {
    height: pxtoem(50px);
    position: relative;
  }

  button.color-palette__lock {
    background: transparent;
    border-radius: 0;
    float: none;
    font-size: 0;
    height: 25px;
    left: auto;
    position: absolute;
    right: 100px;
    text-indent: 0;
    top: -20px;
    width: 25px;

    &:before {
      @include icomoon('basic_lock', 'linea');

      color: $golden-gate;
      font-size: 24px;
      font-weight: 600;
      position: static;
    }

    &.is-unlocked:before {
      @include icomoon('basic_lock_open', 'linea');

      font-size: 24px;
    }
  }
}
