// Various arrows (Open arrows), (Closed arrows)
$fontarrows: (down '', up '', left '', right ''), (down '', up '', left '', right '');
$icon-spacing: 5px;

$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$default-font: $system-fonts;

$default-font-size: 14px;
$default-line-height: 24px;
