$default-grid-columns: 16;
$default-grid-column-width: 48;
$default-grid-gutter-width: 30;

$master-context-width: $default-grid-column-width * $default-grid-columns + $default-grid-gutter-width * ($default-grid-columns - 1);
