.layout-region-node-secondary {
  float: none;
  margin: 30px 0 0;
  width: 100%;

  .entity-meta {
    @include flex('wrap');

    .entity-meta__header {
      h3 {
        background-color: $pale-grey;
        font-size: pxtoem(14px);
        font-weight: 500;
        line-height: pxtoem(21px);
        margin: 0 0 30px;
        padding: 12px 32px;
      }

      > div {
        padding: 40px;
      }

      h4 {
        display: inline;
      }
    }
  }
}


// Form items.
.layout-region-node-main {
  width: 70%;

  .form-item {
    margin-bottom: 32px;

    &:only-child {
      margin-bottom: 0;
    }
  }

  .filter-wrapper {
    border-color: $cool-grey;
    margin-top: -32px;

    .form-item {
      margin-bottom: 10px;
    }

    label {
      display: inline-block;
      margin-right: 16px;
      top: 4px;
    }

    .filter-help {
      margin-top: 12px;
    }
  }
}
